@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.search::placeholder {
  padding-left: 60px; /* Move the placeholder text to the right */
  /* Move the placeholder text down */
}
.alert {
  opacity: 1;
  transition: opacity 1s ease-out;
}

/* After 3 seconds, apply the fade-out effect */
.alert.fade-out {
  opacity: 0;
}